* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

svg {
	width: 20px;
}

body {
	min-height: 100vh;
	font-family: 'Poppins';
}

a {
	text-decoration: none;
	color: white;
}

#root {
	max-width: 2000px;
	margin-inline: auto;
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
}

@supports (height: 100dvh) {
	#root {
		height: 100dvh;
	}
}
